@import url(https://fonts.googleapis.com/css?family=Sixtyfour:regular);
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

:root{
    font-size: 62.5%;
    box-sizing: border-box;
}


body{
    margin:0;
    font-family:Sixtyfour;
    background-color: #710000;
    height:90vh;




.title{
    text-align: center;
    margin-top:3rem;
    font-size: 5em;
    font-family: Bungee Spice;
    

}


.vedio-cont{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 80vh; 
    

    
}
}
.button-cont{
    background-color: rgb(29, 26, 26);
    border:5px solid black;
    border-radius: 1rem;

    padding:1.5rem;

    box-shadow: inset 0px 2rem 5px -2rem rgba(255,255,255,0.7);
    align-self:center;
    
    
    

}
button{
    cursor: pointer;
    outline:none;
    border:none;
    height:30px;
    color:white;
    background-color:#710000;

    font-weight: bolder;
    

    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    transition: all 0.25s ease-in-out;
    transform: scale(1.2);

    
}

button:active {
    transform: scale(1);
    background-color: rgb(253, 252, 252);
    color:rgb(122, 0, 0);

}


